<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/nai.jpg" class="d-block w-100" alt="..." style="object-fit: cover;" height="600px">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Have a chance to get to know all the businesses in your area</h3>
                       <a routerLink='/businesses' class="btn btn-info">View Businesses</a> 
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/momb.jpg" class="d-block w-100" alt="..." style="object-fit: cover;" height="600px">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Get to chance to place your business on the map of your neighbourhood</h3>
                      <a routerLink='/add-business' class="btn btn-info">Add Businesses</a> 
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/city.jpg" class="d-block w-100" alt="..." style="object-fit: cover;" height="600px">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Place your neighbourhood on the map</h5>
                      <a routerLink='/add-neighbourhood' class="btn btn-info">Add Neighbourhood</a> 
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>