<ng-progress></ng-progress>
<div class="container mt-5">
    <ng-progress></ng-progress>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-info">Available Neighbourhoods</h3>
        </div>
        <hr class="mt-3 text-info">
        <div class="col-md-4 mt-3" *ngFor="let item of hoods">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="fw-bold text-white"><span class="text-muted"><small>{{item.id}}</small></span> {{item.neighbourhood_name}}</h4>
                </div>
                <div class="card-body">
                    <p>This neighbourhood is located in {{item.location}}</p>
                    <p>It has a total population of around {{item.count}} people</p>
                </div>
                <div class="card-footer bg-dark">
                    <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit"
                        class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Update Neighbourhood</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form #neighbourhoodUpdateForm="ngForm" method="POST">
                                        <div class="form-group">
                                            <input ngModel #id="ngModel" name="admin" type="text"
                                                class="form-control" id="id" placeholder="id" required>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input ngModel #admin="ngModel" name="admin" type="text"
                                                class="form-control" id="admin" placeholder="Admin id 1" required>
                                            <div class="alert alert-danger" *ngIf='admin.touched && !admin.valid'>Admin
                                                is required</div>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="text" class="form-control" name="neighbourhood_name"
                                                id="neighbourhood_name" placeholder="Neighbourhood Name" required>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="text" class="form-control" name="location" id="location"
                                                placeholder="Location" required>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="number" class="form-control" name="count" id="count"
                                                placeholder="Population Count" required>
                                        </div>
                                        <button type="submit" (click)='updateNeighbourhood(neighbourhood)' class="btn btn-outline-info mt-4">Update</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" #delete (onClick)='deleteNeighbourhood(delete.id)'
                        class="btn btn-outline-danger ms-2"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>