<ng-progress></ng-progress>
<div class="container mt-5">
    <ng-progress></ng-progress>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-info">Available Businesses</h3>
        </div>
        <hr class="mt-3 text-info">
        <div class="col-md-4 mt-3" *ngFor="let item of business">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="fw-bold text-white">{{item.business_name}}</h4>
                </div>
                <div class="card-body">
                    <p>Our business is located in {{item.neighbourhood}}</p>
                    <p>For more info, contact us on our email below:</p>
                    <p class="text-muted">{{item.business_email}}</p>
                </div>
                <div class="card-footer bg-dark">
                    <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Update Business</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" id="name" placeholder="Business Name" required>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="email" class="form-control" name="" id="name" placeholder="Business Email" required>
                                        </div>
                                        <div class="form-group mt-4">
                                            <input type="number" class="form-control" name="" id="name" placeholder="Neighbourhood" required>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-outline-info">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-danger ms-2"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>